html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #282c34;
    color: white;
}

.Homepage {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

ul {
  list-style:none;
  text-align: center;
  align-items: center;
  flex-direction: column
  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}


.searchtext {
  word-break: break-all;
}


#linkbutton:hover {
  animation: effect 0.4s infinite;
}

@keyframes effect {
  0% {
      transform: translateX(0px) rotate(0deg);
  }

  20% {
      transform: translateX(-4px) rotate(-4deg);
  }

  40% {
      transform: translateX(-2px) rotate(-2deg);
  }

  60% {
      transform: translateX(4px) rotate(4deg);
  }

  80% {
      transform: translateX(2px) rotate(2deg);
  }

  100% {
      transform: translateX(0px) rotate(0deg);
  }
}
